name: Tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
    workflow_dispatch:

jobs:
    test:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: codebycruz/lpm@master

            - name: Install Xvfb
              if: runner.os == 'Linux'
              run: sudo apt-get update && sudo apt-get install -y xvfb x11-utils

            - name: Install dependencies
              run: lpm install

            - name: Run tests (Linux)
              if: runner.os == 'Linux'
              run: xvfb-run lpm test

            - name: Run tests (Windows)
              if: runner.os == 'Windows'
              run: lpm test
