name: Tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    test-linux:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: codebycruz/lpm@master

            - name: Install dependencies
              run: lpm install

            - name: Run tests
              run: lpm test
